body{
    margin:0;
    text-align: center;
    padding-top: 50px;
    font-family: fantasy;
    background-image: linear-gradient(to right, rgb(0, 255, 247) , rgb(229, 37, 239) ,  rgb(239, 37, 138) ,  rgb(155, 37, 239));

}
.menu{
    position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    background: white;
    font-size: 50px;
    
}
.links{
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline;
    font-family: fantasy;
    font-size: 20px;
}
#Welcome{
    font-size: 30px;
    font-family: fantasy;
    text-align: top;
}
#Cakes{
    font-family: fantasy;
}
#Cupcakes{
    font-family: fantasy;
}
#Muffins{
    font-family: fantasy;
}
#Pies{
    font-family: fantasy;
}
#Donut{
    font-family: fantasy;
}
#Cookies{
    font-family: fantasy;
}
#Slushies{
    font-family: fantasy;
}
#Coffee{
    font-family: fantasy;
}
.carousel-inner p{
    margin-top: 15px;
    color: white;
}
#see_cart{
    background-color: rgb(150, 95, 137);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
button{
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 0;
}